.header-item {
 flex: 1;
 text-align: center;
 width: 100%;
}
@media screen and (min-device-width: 801px), (min-width: 801px) {
 .header-container {
  display: flex;
  align-items: center;
 }
}
@media screen and (max-device-width: 800px), (max-width: 800px) {
 .header-container {
  display: block;
  align-items: center;
  line-height: 2;
 }
 .header-searchbox {
  display: none;
 }
}
